:root {
    --green: #99D19C;
    --grey: #383D3B;
}

* {
    margin: 0px;
}

img {
    height: 20vh;
    width: auto;
}

header,
footer {
    background-color: var(--green);
    color: var(--grey);
}

header {
    height: max(7.2vh, 45px);
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: min(14px, 4vw);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav .active a,
nav a:hover {
    background-color: #224b24;
    color: var(--green);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
}

p {
    color: #666;
}

.form-container {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #99d19c;
    padding: 10px;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

select,
button {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Include padding and border in element's width and height */
}

button {
    background-color: #99d19c;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #74ca79;
}

#times {
    display: none;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.time-slot {
    height: 7vh;
    align-content: center;
}

.time-slot:hover {
    border: 2px solid #224b24;
    background-color: var(--green);
}