body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99d19c;
    padding: 10px 50px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar li {
    padding: 0 20px;
    font-size: 18px;
  }
  .logo {
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
  }
  .update-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #schedule-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .appointment {
    background-color: #99d19c;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 30%;
  }
  
  .appointment h3 {
    margin-bottom: 5px;
  }