:root {
    --green: #333;
    --grey: #383D3B;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#99d19c, rgba(51, 51, 51, 0.8));
    background-size: cover;
    background-position: center;
    min-height: calc(110vh - 95px);
}

header,
footer {
    background-color: var(--green);
    color: var(--grey);
}

header {
    height: 45px;
    /* Set a fixed height for the header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li h2.title {
    color: white;
    font-size: min(24px, 6vw);
    margin: 0;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    white-space: nowrap;
}

nav a:hover,
nav .active a {
    background-color: #99d19c;
    color: white;
}

/* Upcoming Appointments Section */
#upcoming-appointments {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.section-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.appointment-list {
    margin-top: 20px;
}

.appointment-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.appointment-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.appointment-details {
    color: #666;
    margin-bottom: 5px;
}

.appointment-date,
.appointment-time {
    color: #666;
    margin-top: 5px;
}

.date-info,
.time-info {
    font-weight: bold;
}

/* Recent Booked Appointments Section */
.recent-booked-appointments {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.recent-booked-appointments h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.appointments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.business-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.business-box:hover {
    transform: translateY(-5px);
}

.business-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.business-box h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.business-box p {
    margin-bottom: 5px;
}

.no-appointments {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.no-appointments p {
    color: #666;
    font-style: italic;
}


footer {
    background-color: var(--green);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}