<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="../static/CSS/styles.css">
<body>
    <div class="header">
      <button id="homeButton" class="btn">HOME</button>
      <h1>Appoint-Mint</h1>
      <button id="sign-in-btn" class="btn">GET STARTED</button>
    </div>

<div class="about-us">
    <img src="../static/images/SchoolLogo.jpg" alt="Logo" class="logo"> <h1>About Us</h1>
    <p>We are two students from California State Channel Islands. This is a student project for the software engineering class. We tasked ourselves with the task of making a fully functional appointment booking website. We enjoyed the progress, and have learnt so much from this experience. This inspires us to do more!</p>
    <p>Bahaa & Cesar</p>
    <div class="state-info">
        <span>CALIFORNIA STATE UNIVERSITY</span>
        <span>CHANNEL ISLANDS</span>
        <span>2002</span>
    </div>
</div>

    <footer>
        <div class="footer-container">
            <p>Join the convenience revolution with <strong>Appoint-Mint</strong> - Your online booking platform.</p>
            <p>No more phone hassles, just easy scheduling at your fingertips.</p>
            <p>&copy; 2024 Appoint-Mint. All rights reserved.</p>
            <p><a href="#get-started">Get Started</a> | <a href="#sign-in">Sign In</a> | <a href="#sign-up">Sign Up</a></p>
        </div>
    </footer>
<script src="../dist/aboutUs.js"></script>
</body>