<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client's Profile</title>
    <link rel="stylesheet" href="../static/CSS/ClientProfile.css">
</head>
<body>
    <header>
        <h1 id="name">Client's Profile</h1>
        <nav>
            <div class="container">
              <ul>
                <li><a href="ClientIndex.html">Appointments</a></li>
                <li><a href="BusinessProfile.html">Update Business</a></li>
                <li class="active"><a href="ClientProfile.html">Profile</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <div>
            <h2 id="businessName"></h2>
            <img id="businessImage" src="" alt="Business Image">
            <time id="timeOpen"></time>
            <time id="timeClosed"></time>
            <address id="businessAddress"></address>
            <p id="description"></p>
            <div id="daysOpen"></div>
        </div>
        <div id="businessInfo">
            <!-- Business information will be populated here from the Firebase database -->
        </div>
        <button onclick="location.href='BusinessProfile.html'">Update Business</button>
        <button onclick="sendEmail()">Update/Change Password or Email</button>
    </main>
    <script src="../dist/clientProfile.js"></script>
</body>
</html>