<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/browseBusinesses.css">
    <title>Browsing</title>
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li></li>
                    <li><h2 class="title">Businesses</h2></li>
                    <li><a href="./CustomerMainPage.html">Dashboard</a></li>
                </ul>
            </nav>
        </header>
        
        <section>
            <div class="container" id="businesses-container">
            </div>
        </section>
        
        <footer>
            <p>&copy; 2024 Customer Main Page</p>
        </footer>
        <script src="../dist/browseBusiness.js"></script>
</body>
</html>