<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/mainPage.css">
    <title>Customer Main Page</title>
</head>

<body>

    <header>
        <div class="top-section">
            <div>
                <nav>
                    <ul>
                        <li><a href="">Most Recent</a></li>
                        <li><a href="./CustomerBrowseBusinesses.html">Browse Businesses</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <a href=""><img src="" alt=""></a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="upcoming-appointments">
        <h2 class="title">Section 1</h2>
        <div>
            <div>
                <p>Pending Appointments</p>
            </div>
            <div>

            </div>
        </div>
    </section>

    <section id="most-recent">
        <h2 class="title">Section 2</h2>
        <div class="favorited-businesses">
            <div><p>Businesses #1</p></div>
            <div><p>Businesses #2</p></div>
            <div><p>Businesses #3</p></div>
        </div>
    </section>

    <section id="browse-businesses">
        <h2 class="title">Section 3</h2>
        <p>This is the third main section.</p>
    </section>

    <footer>
        <p>&copy; 2024 Customer Main Page</p>
    </footer>

</body>

</html>