<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/signInPage.css">
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/13.4.1/firebase-app.js"></script>
    <!-- Add additional Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/13.4.1/firebase-auth.js"></script>
    <!-- Include other Firebase SDKs as needed -->
    <title>Document</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#" id="sign-up-form">
                <h1>Create Account</h1>
                <input id="sign-up-first-name" type="text" placeholder="First Name" />
                <input id="sign-up-last-name" type="text" placeholder="Last Name" />
                <input id="sign-up-email" type="email" placeholder="Email" />
                <input id="sign-up-password" type="password" placeholder="Password" />
                <p>Sign up as: </p>
                <div class="btn-container">
                    <button id="client" value="client">Client</button>
                    <button id="customer" value="customer">Customer</button>
                </div>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#"  id="sign-in-form">
                <h1>Sign in</h1>
                <input id="sign-in-email" type="email" placeholder="Email" />
                <input id="sign-in-password" type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button type="submit"> Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../dist/signIn.js"></script>
</body>
</html>

